PORT=5000
MONGODB_URI=mongodb://localhost:27017/
JWT_SECRET=mysecretkey123
NODE_ENV=development
CLIENT_URL=http://localhost:3000

# mongodb://BookLoop_admin_user:admin9518@ac-w40plfk-shard-00-00.bjp6h4e.mongodb.net:27017,ac-w40plfk-shard-00-01.bjp6h4e.mongodb.net:27017,ac-w40plfk-shard-00-02.bjp6h4e.mongodb.net:27017/?ssl=true&replicaSet=atlas-3pntnd-shard-0&authSource=admin&appName=Cluster0